*, ::after, ::before {
  box-sizing: border-box;
}
body {
  font-family: Roboto, sans-serif;
  font-weight: bold;
}
button {
  border-radius: 0px;
  padding: 5px 0;
  border: none;
  font-weight: bold;
}
img {
  width: 100%;
}
label {
  margin-left: 3px;
}
input {
  margin: 0;
  font-weight: bold;
}
.title {
  margin: 0 0 5px;
}
